[submodule "deps/OpenFL"]
	path = deps/OpenFL
	url = https://github.com/Open-FL/OpenFL
	branch = master
[submodule "deps/Utility.WindowsForms"]
	path = deps/Utility.WindowsForms
	url = https://github.com/Open-FL/Utility.WindowsForms
	branch = master
[submodule "deps/ThemeEngine"]
	path = deps/ThemeEngine
	url = https://github.com/Open-FL/ThemeEngine
	branch = master
